<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dotkart</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a class="logo d-flex align-items-center w-auto text-decoration-none">
                  <img src="/assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block  ">Dotkart</span>
                </a>
              </div><!-- End Logo -->



              <div class="card mb-3 ">
                <div class="card-body  shadow rounded" style="background-color: azure;">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form class="row g-3 needs-validation mb-0" novalidate method="post" action="">
                    <div class="col-12">
                      <!-- <label for="yourUsername" class="form-label">username</label> -->
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" placeholder="Username" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your Email.</div>
                      </div>
                    </div>
                    <div class="col-12 mb-1">
                      <!-- <label for="yourPassword" class="form-label">Password</label> -->
                      <input type="password" placeholder="Password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <% if(typeof message!=="undefined" ){%>
                      <h1 style="font-size:16px;color:rgb(156, 2, 2);">
                        <%=message %>
                      </h1>
                      <%}%>

                      <div class="col-12">
                        <button id="loginButton" class="btn btn-primary w-100 fw-bold" type="submit">
                            <span id="buttonText">Login</span>
                            <span id="loader" class="loader" style="display: none;"></span>
                        </button>
                    </div>
                    <style>
                    .loader {
                      border: 8px solid rgba(255, 32, 32, 0.1);
                      border-left-color: #d31a1a;
                      background-color: green;
                      border-radius: 50%;
                      width: 20px;
                      height: 20px;
                      animation: spin 1s linear infinite;
                  }
                  
                  @keyframes spin {
                      0% { transform: rotate(0deg); }
                      100% { transform: rotate(360deg); }
                  }
                </style>

<script>
  document.getElementById('loginButton').addEventListener('click', function() {
      // Hide the login button
      document.getElementById('loginButton').style.display = 'none';

      // Show the loader
      document.getElementById('loader').style.display = 'inline-block';
      
      // You can perform any additional actions here, like form submission or AJAX requests
      
      // For demonstration purpose, let's simulate a delay with setTimeout
      setTimeout(function() {
          // Hide the loader after some delay (you can replace this with actual login logic)
          document.getElementById('loader').style.display = 'none';

          // Show the login button again
          document.getElementById('loginButton').style.display = 'inline-block';
      }, 2000); // Adjust the delay time as per your requirement
  });
</script>

                      </form>
                      <div class="d-flex justify-content-center mt-4 mb-3">
                        <div class="col-8  shadow   p-2 px-2 rounded mt-2 "
                        style="max-height: 100px;background-color: rgb(255, 255, 255); ">
                        <p style="font-size: 14px; color: rgb(0, 0, 0);   " class="mb-1 fw-bold ">Demo user</p>
                      <div class="d-flex justify-content-between " style="padding-right: 5px;">
                        <p class="mb-1 " style="margin-top: -7px; font-size:12px; font-weight: 600;">Username: <span
                            style="cursor:pointer;" class="fw-normal" onclick="copyText(this)">Tester</span></p>
                        <p class="mb-0 " style="margin-top: -7px; font-size:12px; font-weight: 600; ">Password:
                          <span style="cursor:pointer" class="fw-normal" onclick="copyText(this)">Test1@</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12   d-flex flex-column align-items-center  mb-2" style="margin-top: 10px; " >
                    <p class=" fw-bold mb-0 " style="font-size: 12px;">New to Dotkart?<a class="link-underline-primary fw-normal" href="/signup" >Create an
                        account</a></p>
                    <p class=" mb-0 " style=" font-size:12px;"> <a href="/forgetPassword">Forget
                        password</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script>

    function copyText(element) {
      // Create a temporary textarea element
      var tempInput = document.createElement("textarea");
      tempInput.value = element.textContent;

      // Append the textarea element to the document body
      document.body.appendChild(tempInput);

      // Select and copy the text inside the textarea
      tempInput.select();
      document.execCommand("copy");

      // Remove the temporary textarea element
      document.body.removeChild(tempInput);

      // Provide feedback to the user (optional)
      alert("Text copied: " + element.textContent);
    }
  </script>
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>