 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span >Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/banners">
          <i class="bi bi-journal-text"></i><span>Banners</span>
        </a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/brand">
          <i class="bi bi-journal-text"></i><span>Brand</span>
        </a>
       
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/Category">
          <i class="bi bi-journal-text"></i><span>Category</span>
        </a>
       
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/loadCoupon">
          <i class="bi bi-journal-text"></i><span>Coupon</span>
        </a>
       
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/orders">
          <i class="bi bi-grid"></i><span>Orders</span>
        </a>
        
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/Products">
          <i class="bi bi-grid"></i><span>Products</span>
        </a>
        
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/sales">
          <i class="bi bi-grid"></i><span>Sales</span>
        </a>
        
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/users">
          <i class="bi bi-layout-text-window-reverse"></i><span>User</span>
        </a>
       
      </li><!-- End Tables Nav -->

     

    </ul>

  </aside><!-- End Sidebar-->